@import '../../../styles/app';

.headerLink {
  overflow-x: hidden;

  @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
    font-size: $font-size-larger;
  }

  a {
    display: block;
    color: $sidebar-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:last-child > a {
    border-bottom: 1px solid $sidebar-item-border-color;
  }

  > a {
    position: relative;
    padding-left: 50px;
    line-height: 35px;
    border-top: 1px solid $sidebar-item-border-color;

    &.headerLinkActive {
      background-color: $sidebar-item-hover-bg-color;
    }

    &:hover {
      background-color: $sidebar-item-hover-bg-color;
    }

    > i {
      margin-right: 7px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      line-height: 44px;
    }
  }

  .icon {
    display: block;
    position: absolute;
    top: 3px;
    left: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    i {
      color: rgba(170, 170, 170, 0.7);
    }

    @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      top: 8px;
    }
  }

  .badge {
    float: right;
    line-height: 8px;
    margin-top: 8px;
    margin-right: 15px;
    padding: 7px;
    border-radius: 0.2rem;
  }
}

.headerLabel {
  font-weight: 600;
  color: theme-color('warning');
}

.collapsed .caret {
  transform: rotate(-90deg);
}

.caret {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;

  @include transition(transform 0.3s ease-in-out);
}

a.headerLinkActive {
  color: $sidebar-item-active-color;

  .icon {
    border-radius: 50%;
    background-color: $sidebar-item-active-color;

    i {
      color: #242424;
    }
  }
}

.panel {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  background-color: lighten($sidebar-bg-color, 5%);

  &::before {
    content: '';
    display: block;
    padding-top: $spacer/2;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: $spacer/2;
  }

  a.headerLinkActive {
    color: $white;
    font-weight: $font-weight-thin;
  }

  ul {
    padding-left: 0;
    font-size: 13px;

    @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      font-size: 14px;
    }

    li {
      list-style: none;
    }

    a {
      padding: 4px 20px 4px 36px;

      &:hover {
        background-color: $sidebar-item-hover-bg-color;
      }
    }
  }
}

